language: cpp
sudo: required
dist: trusty

services:
- docker

git:
  depth: 5

notifications:
  slack:
    secure: bEWPwOoefNXdXqQM1dUUmkBx4MWNJfYMNZPXWDlqxqJCTWoy00SkeH4mTlJSqVPMuQJzqQZ66Q6GK04YEZTLQhobN4tR3Qk9XpzmmE+65TVi4HrGNFJqxGCsPFr5CP4frCiH8rpsyNgwjf76z2a+9XnPYiVWvt0ECZHTeNkdqfHTaJr+TU1URi6iJXQD8C7mCxaYgNcEFfmUb8td17JIvh0dVlYjhh19nRwOxTbJ9QivyHl2MEFMD13CPMUKL1NxOK54Xi1d4cxPVtpJJvYfkRgf+TxJHF2I8BeSmIbE4K8MubbDnotBuipaVEkuZRTFt2wwh7l95u8zIvUbpLUyWHPoS6wKT0wqWe48z68YNf23Lb5TIuVXRtBKmDCNeGLQ4q2Blx8FLX921ugUf7DoquIBJgjeOpiuIPc0l07o3lXp5x6au/mUePfi+iOcXeQRcYN60GDs/Q+zNOOZbfATtg0DTTcPv3rPr1l8MeWlYf4FBCBfVBxzbzjCQEY8CfqajC/5Lc7agEwb3AKh8v3GmSShaZ4WB1vdFtvB9fk5biiAv9dY1U1UEzdK9HLC8+J5OaXdTtwjm4nT7D/Sj8nFqE7opens8WHNVfdzbjP/y7ux7N4O69MEPGumNRSWL4T4JGuShULPt86pzGqh22oUxDtMDbhffnOdlv9Ko6NgtKE=
  irc:
    - "ircs://chat.freenode.net:7070#grangerhub"
  email:
    on_success: change
    on_failure: change

matrix:
  include:
  - os: linux
    env: PLATFORM=linux
    before_install:
    - docker pull grangerhub/tremulous13:latest
    - docker run -e PLATFORM -v $(pwd):/usr/src grangerhub/tremulous13:latest ./misc/docker-build.sh
    script:
    - true
  - os: linux
    env: PLATFORM=mingw32
    before_install:
    - docker pull grangerhub/tremulous13:latest
    - docker run -e PLATFORM -v $(pwd):/usr/src grangerhub/tremulous13:latest ./misc/docker-build.sh
    script:
    - true
  - os: linux
    env: PLATFORM=mingw32 ARCH=x86
    before_install:
    - docker pull grangerhub/tremulous13:latest
    - docker run -e ARCH -e PLATFORM -v $(pwd):/usr/src grangerhub/tremulous13:latest ./misc/docker-build.sh
    script:
    - true
  - os: osx
    osx_image: xcode8
    compiler: clang
    env: ARCH=x86_64
    before_install:
    - rm -rf build
    script:
    - ./misc/travis-ci-build.sh

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: euPVnsrXbfQN095snEmxb+52vWsEg5bcmJY6fP9k7/J4uz8r/QMYxIknPueFGnPLd2iP2IHwu933iT2k5oc/acCuib7kiy6kUdeC29epik+Nql3BnSEi820GjlQoYBcsWm5a26pGOSRR/yqCJXrY5w2CBFOqV7t4n6iFcl2Ks/rPrNmkfGdq1WBq6JHXGwBUU+UwUDwiaBwmMUBYdKMHmxvjWcGiyeQNxwaC3+IwEOzNx/B8u4o8qwksdwHRkMyUAnxcxY1TwpjV1b/4YmxL6F10zOyJQxJ8alXvgNzzEmJfxKSG27Zma48++4kfSq4ReB2ZwuCj7rqEKnQ/htE0jbwEcjKEt3Ii4bVReSNVGD5BWPL7Qkm1dx5lvL1zRaqyOnJQs3CJAOnX0L5LHrP12Dw1cCXHSSDdBMy+dRA1owVKvO3osoAVJUqZCxl6PYxVfSxNu9FlP4fxypSpgPl5458NwK8r1wjZfTprFNV4dlXsQrdc8B/EttwX9n9O9JLzrrjV7K9IvyA7ArYz5IDiSagOb4wOktDfepfHJioaFZIWgYQ4hGXXQJm/qDa4J/KSYME74knHbHkqx3eAo3T9/ofMDLyrK5CCIAmoGI0pcPgbuvLvNCVrVzGyaH7j8WxIBG0AN16I1MAs5+cJ4gCFgEsCvf30O++zqYIaOujpZ70=
  file_glob: true
  file: build/*.zip
  on:
    repo: GrangerHub/tremulous
    tags: true
